@mixin reset() {
  margin: 0;
  padding: 0;
}

//
html, body, #app, .session {
  @include reset;
  height: 100%;
}

html { background: #111; }
html, body { color: #eee; }

body {
  font-size: 14px;
  font-family: monospace;
}

a, a:link { color: orange; }
a:hover { color: white; }

.session > header {
  padding: 7px 10px;
  text-align: right;
  nav {
    float: left;
    a { margin-right: 10px; }
    a::before { content: ">"; }
  }
}

.window {
  .titlebar {
    background-color: #333;

    .title { float: left; }

    .buttons {
      text-align: right;
      width: 100%;

      button { font-size: 60%; }
    }
  }
}

.window.home {
  pre {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    color: green;
    font-weight: bold;
  }
}

// .window.popups {}

.popup {
  position: fixed;
  top: 2em;
  right: 2em;
  width: 20em;
  background: #141414;
  padding: 1em;

  h3 { @include reset; }
}

.window.terminal {
  .buffer {
    margin-bottom: 0;
  }

  .prompt {
    @include reset;
    background: #222;
    width: 100%;
    padding-top: 2px;
    color: #999;

    input {
      font-family: monospace;
      background: none;
      border: none;
      width: 90%;
      padding: 2px 0;
      color: #FFF;
    }
  }
}
